

  .recommend,.Copies_blibili,.Playlists{


    height:100%;
    margin-bottom: 10px;

  }


 .re_top h2{
    word-wrap: break-word;
    word-break: normal;

    font-size: 24px;
    font-weight: 700;
      margin: auto;
    text-align: center;

  }

#search-bar-query{
  width: 200px;
  height: 40px;
  padding-left:10px;
  border-radius: 25px;  
}


  .re_video,.new_video-detail{
   width:100%;

   position: relative;
   top: 0px;
   left:0px;

 }
 .re_top,.new_top{

  padding-bottom: 10px;
  border-bottom:3px solid #CF003E; 
}
.new_top
{

  border-bottom:3px solid #21C6EF;
}

.re_video a{
  width: 100px;
  text-align: center;
  line-height:100px;
}
.imgbox{
  width: 100%;
  text-align:center;
}
.re_video  img{
  
  vertical-align:middle;
  width: 320px;
  height: 200px;
  margin: 30px auto;
}
.re_video  p,.new_video li p{
  font-size: 21px;
  margin-bottom: 10px;
  margin:0px 10% 10px;
  word-wrap:break-word;
}
